body {
    font-family:'DM sans', sans-serif;
    font-weight: bold;
    font-style: normal;
}

header {
    display:flex;
    justify-content: space-between;
    align-items:  center;
    padding: 10px;
    background: whitesmoke;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logocontainer {
    margin-left: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo {
    margin-left: 6px;
    font-size: 35px;
    font-weight: 600;
    font-family: "Playfair Display",serif;
    color: #474747;
}   

.logo-img {
    height: 55px;
    width: 53px;
}

nav{
    margin-right: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;  
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

nav ul li a {
    text-decoration: none;
    color: #2C2F24;
    font-weight: bold;
}

.homelink {
    background-color: #DBDFD0;
    padding: 4px 16px;
    border-radius: 15px;
}

.loginlink {
    border-radius: 118px;
    padding: 4px 16px;
    border: 1.5px solid black;
}

.hero {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #3d2b1f;
    /* background: rgba(255, 255, 255, 0.8); Transparan putih */
    width: 667px;
    height: 360px;
    padding: 20px;
    padding-top: 90px;
    border-radius: 15px;
    margin-left: 100px;
}

.content h1 {
    font-size: 100px;
    font-weight: 400;
    font-family: "Playfair Display";
    margin: -30px;
}

.content p {   
    padding-top: 20px; 
    font-size: 20px;
    color: #555;
    font-weight: 400;
}

.buttons {
    margin-top: 40px;
    font-weight: 700;
}

.btn {
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    padding: 20px 35px;
}

.primary {
    background-color: #AD343E;
    color: white;
    margin-right: 20px;
}

.primary:hover {
    background-color: #a02729;
}

.secondary {
    border: 2px solid #555;
    color: #182226;
}

.secondary:hover {
    background-color: #555;
    color: white;
}

.container {
    text-align: center;
}

.emoji-choose-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .emoji-choose {
        margin: 0 10px;
    }
}

.container h1 {
    font-size: 55px;
    color: #3d2b1f;
    font-family: "Playfair Display";
    font-weight: 500;
    padding-top: 40px;
}

.container img{
    width: 50px;
    height: 50px;
    padding-bottom: 40px;
}

.container p {
    font-size: 30px;
    color: #555;
    font-weight: 400;
    padding-bottom: 40px;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
    gap: 20px;
}

.button1{
    width: 1282px;
}

.button2{
    width: 1282px;
}

.option {
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 25px;
    border: 2px solid #F56A00CC;
    margin-left: 20px;
    margin-right: 20px;
    background: white;
    color: black;
    cursor: pointer;
    transition: 0.3s;
    padding: 20px 40px;
}

.option:hover {
    background-color: #b32d2e;
    color: white;
}

.main-btn {
    padding: 20px 32px;
    font-size: 16px;
    border-radius: 35px;
    border: none;
    background-color: #AD343E;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 100px;
    font-weight: 700;
    margin-bottom: 100px;
}

.main-btn:hover {
    background-color: #a02729;
}

.emoji-choose-container {
    display: flex;
    flex-direction: row;

}

.emoji-choose {
    width: 10px;
    height: 16px;

    animation: all 0.3s ease;

    transform: scale(1);
}

.emoji-choose:hover {
    transform: scale(1.1);
}
